* {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #161616;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes glow {
  from {
    box-shadow: 0px 0px 15px #fca211, 0px 0px 15px inset #fca21173;
  }
  to {
    box-shadow: 0px 0px 15px #fca21173, 0px 0px 15px inset #fca2117a;
  }
}

.game_logo {
  display: flex;
  align-items: center;
  padding: 50px;
  background-color: #161616;
  color: #ffd43b;
  font-size: 50px;
  font-weight: bold;
  border-radius: 50px;
  border: 4px solid #ffd43b;

  animation-name: glow;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.game_logo span {
  display: flex;
}

.game_logo img {
  width: 58px;
}

/* .play-button button {
  border: 0px;
  font-size: 45px;
  font-weight: 700;
  color: #ffd43b;
  background-color: #161616;
}
#ingame-btns {
  display: flex;

  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #161616;
} */
