* {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #242527;
  height: 100vh;
  display: flex;
  justify-content: center;
}

/* #game-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
} */

/* .game_logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1000px;
  height: 250px;
  background-color: #84c234;
  color: #eefceb;
  font-size: 50px;
  font-weight: bold;
  border-radius: 50px;
  border: 4px solid #474a4f;
  box-shadow: 10px 10px 2px #1a1816;
}

.game_logo span {
  display: flex;
}

.game_logo img {
  width: 58px;
} */

.play-button button {
  border: 2px solid black;
  padding: 10px;
  font-size: 100px;
  font-weight: bold;
  color: #eefceb;
  border-radius: 25px;
  background-color: #84c234;
  border: 3px solid #474a4f;
  box-shadow: 10px 10px 2px #1a1816;
  transition: 0.2s;
  display: none;
}

/* .play-button button:active {
  background-color: #3472c2;
  transform: scale(0.9, 0.9);
} */

#ingame-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  gap: 50px;
}

#ingame-btns div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.player_btns button,
.computer_btns button {
  border: 2px solid black;
  padding: 10px;
  font-size: 100px;
  font-weight: bold;
  color: #eefceb;
  border-radius: 25px;
  background-color: #84c234;
  border: 3px solid #474a4f;
  box-shadow: 10px 10px 2px #1a1816;
  /* transition: 0.2s; */
}

.player_btns button:active {
  background-color: #3472c2;
  transform: scale(0.9, 0.9);
}

.player_name_box {
  border: 2px solid black;
  width: 250px;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #eefceb;
  border-radius: 25px;
  background-color: #84c234;
  border: 3px solid #474a4f;
  box-shadow: 10px 10px 2px #1a1816;
}

.computer_name_box {
  border: 2px solid black;
  width: 250px;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #eefceb;
  border-radius: 25px;
  background-color: #84c234;
  border: 3px solid #474a4f;
  box-shadow: 10px 10px 2px #1a1816;
}

h2 {
  color: #eefceb;
  font-size: 100px;
}
